// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

// Helper colors for form error states
$color-disabled: #000;
$color-disabled-border: #000;
$color-error: #ff6d6d;
$color-error-bg: #fff;
$color-success: #000;
$color-success-bg: #000;
